---
layout: page
title: Categories
---
<div class="page-container">
{% for models in site.categories %}
<h6>{{models[0] | capitalize}}</h6>
<div class="page-row">
{% for post in models[1] %}
  <div class="page-column" style="border-color: none;">
    <div class="page-card" style="border-color: #fff;">
    <a alt="{{ post.title }}" title="{{ post.title }}" style="text-decoration: none;" href="{{site.baseurl}}{{post.url}}">
    <img alt="{{ post.title }}" title="{{ post.title }}" src="{{post.image}}">
    <h3 style="font-size: 1rem; font-weight: 400; color: #333;">{{ post.title }}</h3>
    </a>
    </div>
  </div>
{% endfor %}
</div>
{% endfor %}
</div>
