---
layout: default
title: Blog | Mohamad Rido
---
<div class="page-container">
  <div class="page-row">
  {% for post in paginator.posts %}
  <div class="page-column" style="border-color: none;">
    <div class="page-card" style="border-color: #fff;">
      <a style="text-decoration: none; " href="{{site.baseurl}}{{post.url}}">
      <img alt="{{ post.title }}" title="{{ post.title }}" style="width: 100%; border-radius: 5px;" src="{{post.image}}">
      <h3 style="font-size: 1rem; font-weight: 400; color: #333;">{{ post.title }}</h3>
      </a>
    </div>
  </div>
  {% endfor %}
  </div>
<br/>
{% if paginator.previous_page %}
{% if paginator.previous_page == 1 %}
<a style="text-decoration: none; padding: 10px;" href="{{site.baseurl}}/{{ include.basepath }}" title="Previous Page"><!--svg height='24' viewBox='0 0 24 24' width='24'><path d='M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z' color='#555'/></svg--><i class="fa fa-angle-left"></i> Prev</a>
{% else %}
<a style="text-decoration: none; padding: 10px;" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Previous Page"><!--svg height='24' viewBox='0 0 24 24' width='24'><path d='M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z' color='#555'/></svg--><i class="fa fa-angle-left"></i> Prev</a>
{% endif %}
{% endif %}
<span> &nbsp; &nbsp; Page {{paginator.page}} of {{paginator.total_pages}} &nbsp; &nbsp; </span>
{% if paginator.next_page %} 
<a style="text-decoration: none; padding: 10px;" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Next Page">Next <i class="fa fa-angle-right"></i><!--svg height='24' viewBox='0 0 24 24' width='24'><path d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' color='#555'/></svg--></a>
{% endif %}
<br/>
</div>
