---
layout: default
title:
---
<div class="hero-image">
    <a style="text-decoration: none; color: #000; position: absolute; margin: 0px; padding: 10px;" href="https://blog.mohamadrido.com"><svg height='24' viewBox='0 0 24 24' width='24'><path d='M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z' color='#555'/></svg> BLOG</a>
    <a style="text-decoration: none; color: #000; padding: 10px; float: right;" href="https://artstation.com/mohamadrido">GALLERY</a>
    <a style="text-decoration: none; color: #000; padding: 10px; float: right;" href="https://mohamadrido.com/support">SUPPORT</a>
  <div class="hero-text">
    <h1 style="font-size: 50px; color: #008b8b;">{{site.description}}</h1>
    <h2 style="color: #fff; color: #fff;">Free 3D Models under Public Domain</h2>
    <button><a style="text-decoration: none; color: #fff;" href="https://publicdomainmodels.com/">BROWSE MODELS</a></button>
  </div>
</div>
<style>
body, html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style:normal;
  margin: 0;
  background: #fff;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight:300;
}
.hero-image {
  background-image: url("https://mohamadrido.com/assets/pexels-photo-2261017.jpeg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scrollbar-width: none;
}
.hero-text {
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #555;
}
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  background-color: #dc143c;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.hero-text button:hover {
  background-color: #008080;
  color: #fff;
  border-radius: 5px;
}
</style>
<div class="container">
<h3 style="text-align: center;">ARTICLES</h3>
<p style="text-align: center; font-size: 14px;">About references and my life experiences.</p>
  <div class="row">
  {% for post in paginator.posts %}
    <div class="col-sm-4">
      <a style="text-decoration: none; " href="{{site.baseurl}}{{post.url}}">
      <img style="width: 100%; border-radius: 5px;" src="{{post.image}}">
      <h3 style="font-size: 1rem; font-weight: 400; color: #333;">{{ post.title }}</h3>
      </a>
    </div>
  {% endfor %}
  </div>
<br/>
{% if paginator.previous_page %}
{% if paginator.previous_page == 1 %}
<a style="text-decoration: none; padding: 10px;" href="{{site.baseurl}}/{{ include.basepath }}" title="Previous Page"><svg height='24' viewBox='0 0 24 24' width='24'><path d='M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z' color='#555'/></svg> Prev</a>
{% else %}
<a style="text-decoration: none; padding: 10px;" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Previous Page"><svg height='24' viewBox='0 0 24 24' width='24'><path d='M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z' color='#555'/></svg> Prev</a>
{% endif %}
{% endif %}
<span> &nbsp; &nbsp; Page {{paginator.page}} of {{paginator.total_pages}} &nbsp; &nbsp; </span>
{% if paginator.next_page %} 
<a style="text-decoration: none; padding: 10px;" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Next Page">Next <svg height='24' viewBox='0 0 24 24' width='24'><path d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' color='#555'/></svg></a>
{% endif %}  
</div>
<!-- Ads here -->
<div class="container" style="text-align: center;">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5531330043170221"
     data-ad-slot="8618707579"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="container">
<h3 style="text-align: center;">JEKYLL THEMES</h3>
<p style="text-align: center; font-size: 14px;">Free responsive static website themes for personal & company profile.</p>

</div>
