---
layout: page
---
<h3>Posts marked with: {{ page.category }}</h3>

<hr>

{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

{% unless site.category[page.category] | size > 0 %}
  <p>No posts found.</p>
{% endunless %}

{% for post in site.category[page.category] %}
<div>
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2>            
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3>
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p>
      Posted by 
      {% if post.author %}
        {{ post.author }}
      {% else %}
        {{ site.title }}
      {% endif %} 
      on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}
