---
layout: default
---
<header class="topnav" id="myTopnav">
  <a href="https://mohamadrido.com">Mohamad Rido</a>
  <div class="header-right">
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  <a href="https://github.com/mohamadrido">Website Themes</a>
  <a href="https://mohamadrido.com/categories">Categories</a>
  <a href="https://mohamadrido.com/contact">Contact</a>
  <a href="https://mohamadrido.com/about">About</a>
  </div>
</header>

<div class="container">
{{ content }}
</div>
<!-- Ads here -->
<div class="container" style="text-align: center;">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5531330043170221"
     data-ad-slot="8618707579"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
